<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href=" {{ url_for('static',filename='css/style.css')}}">
    <title>Text Summarization</title>
</head>
<body>
    <div class="container">

        <h1> Text summarization</h1>
        <form action="" method="post">
            <textarea name="text" id="text"  placeholder="Type your text"></textarea>
            <input type="submit" name="submit" id="submit" class="btn" > 
        </form>
    
        <div class="summary" >
            {%if final_text !="" %}
                <h2 class="title">Summary</h2>
            {% endif%}
            {{final_text}}
        </div>
    </div>
</body>
</html>